.App {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.faTask {
  margin-right: 10px;
}

.faClose {
  margin-right: 5px;
}
.actiontool {
  display: flex;
  justify-content: flex-end;
}
.list {
  margin-top: 5%;
  font-size: 20px;
  max-width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.head {
  margin-top: 20vh;
  display: flex;
}
.activeListingTodo {
  align-items: center;
  height: 50px;
  font-size: 23px;
  background-color: rgb(125, 224, 195);
  border: 1px solid rgb(36, 33, 233);
}
.nothingList {
  background-color: rgb(219, 161, 84);
}
.btn {
  display: flex;
  margin-top: 40px;
  margin-left: 35%;
  justify-content: center;
}

.todoInput {
  justify-content: center;
  margin-top: 20px;
  font-size: 35px;
}

.App-link {
  color: #61dafb;
}
